In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

In [2]:
# Import cities csv created in WeatherPy

cities_df = pd.read_csv('../WeatherPy/cities.csv', index_col=0)

cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mahebourg,40.0,MU,1.584214e+09,94.0,-20.41,57.70,77.00,1.12
1,pelym,84.0,RU,1.584214e+09,81.0,61.01,62.00,31.98,9.86
2,chokurdakh,69.0,RU,1.584214e+09,98.0,70.63,147.92,-28.14,4.25
3,port hardy,5.0,CA,1.584214e+09,31.0,50.70,-127.42,35.60,13.87
4,mataura,85.0,NZ,1.584213e+09,86.0,-46.19,168.86,51.01,1.99

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cities_df['Humidity'], 
                                 dissipating=False, max_intensity=250,
                                 point_radius=4)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Narrow locations for ideal conditions, calling it hotel_df

ideal_locations = cities_df.loc[(cities_df['Max Temp'] < 85) & (cities_df['Cloudiness'] < 15) & (cities_df['Humidity'] < 50)]
ideal_locations

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
3,port hardy,5.0,CA,1.584214e+09,31.0,50.70,-127.42,35.60,13.87
23,arlit,0.0,NE,1.584214e+09,9.0,18.74,7.39,80.04,9.51
32,yulara,0.0,AU,1.584214e+09,31.0,-25.24,130.99,77.00,12.75
38,bethel,1.0,US,1.584213e+09,34.0,41.37,-73.41,55.40,9.17
67,jalu,2.0,LY,1.584214e+09,30.0,29.03,21.55,68.34,4.81
98,pavilosta,11.0,LV,1.584214e+09,48.0,56.89,21.19,32.00,4.70
130,adrar,0.0,MR,1.584214e+09,5.0,20.50,-10.07,83.64,3.83
135,dongsheng,0.0,CN,1.584214e+09,37.0,39.82,109.98,32.34,11.72
141,castro,2.0,BR,1.584213e+09,31.0,-24.79,-50.01,84.18,3.98
174,comodoro rivadavia,0.0,AR,1.584214e+09,40.0,-45.87,-67.50,69.80,9.17
188,bousso,1.0,TD,1.584214e+09,9.0,10.48,16.71,83.46,6.89
197,mecca,0.0,SA,1.584214e+09,47.0,21.43,39.83,68.34,8.81
239,tessalit,8.0,ML,1.584214e+09,9.0,20.20,1.01,84.72,6.42
249,umm lajj,0.0,SA,1.584214e+09,44.0,25.02,37.27,66.90,5.59
260,lebu,0.0,CL,1.584214e+09,42.0,-37.62,-73.65,66.54,12.88
289,talcahuano,0.0,CL,1.584214e+09,46.0,-36.72,-73.12,71.60,19.46
357,kidal,0.0,ML,1.584214e+09,9.0,18.44,1.41,83.82,6.80
363,sarangpur,0.0,IN,1.584214e+09,25.0,23.57,76.47,64.20,8.08
364,mandalgarh,0.0,IN,1.584214e+09,33.0,25.20,75.10,61.50,5.37
379,russell,1.0,US,1.584213e+09,37.0,32.35,-85.20,84.99,6.60
411,aswan,0.0,EG,1.584214e+09,28.0,24.09,32.91,68.88,9.44
413,havelock,1.0,US,1.584214e+09,31.0,34.88,-76.90,70.00,12.75
415,shahpura,0.0,IN,1.584214e+09,42.0,27.38,75.97,64.40,3.36
428,panguipulli,0.0,CL,1.584214e+09,40.0,-39.63,-72.33,73.00,10.29
448,aksu,1.0,CN,1.584214e+09,22.0,41.12,80.26,43.68,7.25
483,tooele,1.0,US,1.584214e+09,44.0,40.53,-112.30,57.20,31.09
491,bagrami,0.0,AF,1.584214e+09,45.0,34.49,69.27,44.60,3.36
507,arsikere,7.0,IN,1.584214e+09,35.0,13.31,76.26,75.36,6.91
519,altay,0.0,CN,1.584214e+09,39.0,47.87,88.12,18.48,6.93
522,rehoboth,0.0,NaN,1.584214e+09,21.0,-23.32,17.08,77.88,16.78
527,trelew,0.0,AR,1.584214e+09,24.0,-43.25,-65.31,69.60,12.08
565,ndele,13.0,CF,1.584214e+09,12.0,8.41,20.65,84.00,3.47

In [5]:
hotel_df = pd.DataFrame(ideal_locations)

# Add column for hotel names
hotel_df['Hotel Name'] = ""

hotel_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
3,port hardy,5.0,CA,1.584214e+09,31.0,50.70,-127.42,35.60,13.87,
23,arlit,0.0,NE,1.584214e+09,9.0,18.74,7.39,80.04,9.51,
32,yulara,0.0,AU,1.584214e+09,31.0,-25.24,130.99,77.00,12.75,
38,bethel,1.0,US,1.584213e+09,34.0,41.37,-73.41,55.40,9.17,
67,jalu,2.0,LY,1.584214e+09,30.0,29.03,21.55,68.34,4.81,

In [6]:
# find the closest hotel of each type to coordinates

params = {
    "type": "lodging",
    "key": g_key,
    "radius": 5000
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # pull lat and lng
    lat = row['Lat']
    lng = row['Lng']

    # update address key value
    params['location'] = f'{lat},{lng}'
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    response = requests.get(base_url, params=params)
    json_response = response.json()

    try:
        
        hotel_df.loc[index, 'Hotel Name'] = json_response['results'][0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [7]:
# drop hotels without names
hotel_df.dropna()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
3,port hardy,5.0,CA,1.584214e+09,31.0,50.70,-127.42,35.60,13.87,Airport Inn
23,arlit,0.0,NE,1.584214e+09,9.0,18.74,7.39,80.04,9.51,Hôtel Telwa Bungalow
32,yulara,0.0,AU,1.584214e+09,31.0,-25.24,130.99,77.00,12.75,Desert Gardens Hotel - Ayers Rock Resort
38,bethel,1.0,US,1.584213e+09,34.0,41.37,-73.41,55.40,9.17,Courtyard by Marriott Danbury
67,jalu,2.0,LY,1.584214e+09,30.0,29.03,21.55,68.34,4.81,Jalu Hotel
98,pavilosta,11.0,LV,1.584214e+09,48.0,56.89,21.19,32.00,4.70,"Hotel ""Vēju paradīze"""
130,adrar,0.0,MR,1.584214e+09,5.0,20.50,-10.07,83.64,3.83,
135,dongsheng,0.0,CN,1.584214e+09,37.0,39.82,109.98,32.34,11.72,Crowne Plaza Ordos
141,castro,2.0,BR,1.584213e+09,31.0,-24.79,-50.01,84.18,3.98,CHACARA BAILLY
174,comodoro rivadavia,0.0,AR,1.584214e+09,40.0,-45.87,-67.50,69.80,9.17,Austral Hotel
188,bousso,1.0,TD,1.584214e+09,9.0,10.48,16.71,83.46,6.89,
197,mecca,0.0,SA,1.584214e+09,47.0,21.43,39.83,68.34,8.81,Hotel Fairmont Makkah Clock Royal Tower
239,tessalit,8.0,ML,1.584214e+09,9.0,20.20,1.01,84.72,6.42,
249,umm lajj,0.0,SA,1.584214e+09,44.0,25.02,37.27,66.90,5.59,Tanal Hotel Apartment
260,lebu,0.0,CL,1.584214e+09,42.0,-37.62,-73.65,66.54,12.88,Hostal Las Lilas
289,talcahuano,0.0,CL,1.584214e+09,46.0,-36.72,-73.12,71.60,19.46,Hotel Terramar
357,kidal,0.0,ML,1.584214e+09,9.0,18.44,1.41,83.82,6.80,
363,sarangpur,0.0,IN,1.584214e+09,25.0,23.57,76.47,64.20,8.08,Janral Outo Electric
364,mandalgarh,0.0,IN,1.584214e+09,33.0,25.20,75.10,61.50,5.37,दुर्गा टेंट हाऊस
379,russell,1.0,US,1.584213e+09,37.0,32.35,-85.20,84.99,6.60,Macs
411,aswan,0.0,EG,1.584214e+09,28.0,24.09,32.91,68.88,9.44,Nuba Nile
413,havelock,1.0,US,1.584214e+09,31.0,34.88,-76.90,70.00,12.75,Holiday Inn Express and Suites Havelock
415,shahpura,0.0,IN,1.584214e+09,42.0,27.38,75.97,64.40,3.36,Shahpura Haveli
428,panguipulli,0.0,CL,1.584214e+09,40.0,-39.63,-72.33,73.00,10.29,Cabañas Mis Viejos
448,aksu,1.0,CN,1.584214e+09,22.0,41.12,80.26,43.68,7.25,Pudong Holiday Hotel
483,tooele,1.0,US,1.584214e+09,44.0,40.53,-112.30,57.20,31.09,Holiday Inn Express & Suites Tooele
491,bagrami,0.0,AF,1.584214e+09,45.0,34.49,69.27,44.60,3.36,Turkmens Street کوچه ترکمن ها
507,arsikere,7.0,IN,1.584214e+09,35.0,13.31,76.26,75.36,6.91,KPS Comforts
519,altay,0.0,CN,1.584214e+09,39.0,47.87,88.12,18.48,6.93,Jinqiao Hotel
527,trelew,0.0,AR,1.584214e+09,24.0,-43.25,-65.31,69.60,12.08,Hotel Touring Club
565,ndele,13.0,CF,1.584214e+09,12.0,8.41,20.65,84.00,3.47,

In [8]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map - in this 
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))