In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

In [2]:
# Import cities csv created in WeatherPy

cities_df = pd.read_csv('../WeatherPy/cities.csv', index_col=0)

cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mataura,100.0,NZ,1.584217e+09,84.0,-46.19,168.86,54.00,3.00
1,mareeba,31.0,AU,1.584217e+09,88.0,-17.00,145.43,69.80,1.12
2,tasiilaq,20.0,GL,1.584217e+09,65.0,65.61,-37.64,5.00,1.12
3,faanui,2.0,PF,1.584217e+09,77.0,-16.48,-151.75,83.07,15.75
4,vila franca do campo,20.0,PT,1.584217e+09,72.0,37.72,-25.43,60.80,12.75

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cities_df['Humidity'], 
                                 dissipating=False, max_intensity=250,
                                 point_radius=4)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Narrow locations for ideal conditions, calling it hotel_df

ideal_locations = cities_df.loc[(cities_df['Max Temp'] < 85) & (cities_df['Cloudiness'] < 15) & (cities_df['Humidity'] < 50)]
ideal_locations

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
18,manyana,0.0,BW,1.584217e+09,49.0,-23.40,21.72,73.17,7.47
26,awbari,0.0,LY,1.584217e+09,18.0,26.59,12.78,64.35,9.31
139,arlit,0.0,NE,1.584217e+09,12.0,18.74,7.39,74.43,7.83
187,aswan,0.0,EG,1.584217e+09,17.0,24.09,32.91,75.20,13.87
208,valparaiso,0.0,CL,1.584217e+09,39.0,-33.04,-71.63,78.80,12.75
226,san carlos de bariloche,0.0,AR,1.584217e+09,25.0,-41.15,-71.31,66.20,9.17
236,port hardy,5.0,CA,1.584217e+09,34.0,50.70,-127.42,35.60,18.34
247,atar,0.0,MR,1.584217e+09,10.0,20.52,-13.05,71.55,5.32
286,brewster,1.0,US,1.584217e+09,34.0,41.40,-73.62,55.40,10.29
297,bethel,1.0,US,1.584217e+09,34.0,41.37,-73.41,55.40,10.29
308,hovd,0.0,MN,1.584217e+09,41.0,48.01,91.64,20.07,7.74
328,paoua,9.0,CF,1.584218e+09,15.0,7.24,16.44,72.63,3.11
330,yulara,0.0,AU,1.584218e+09,29.0,-25.24,130.99,77.00,13.87
335,new london,1.0,US,1.584217e+09,27.0,41.36,-72.10,54.00,13.87
341,maine-soroa,13.0,NE,1.584218e+09,15.0,13.21,12.02,67.77,6.78
364,moussoro,0.0,TD,1.584218e+09,11.0,13.64,16.49,71.01,12.91
389,comodoro rivadavia,0.0,AR,1.584217e+09,40.0,-45.87,-67.50,68.00,12.75
401,providencia,5.0,MX,1.584218e+09,36.0,28.72,-111.58,75.20,3.36
421,massakory,0.0,TD,1.584218e+09,11.0,13.00,15.73,71.91,11.59
429,adrar,0.0,MR,1.584217e+09,8.0,20.50,-10.07,70.47,3.89
437,ferkessedougou,2.0,CI,1.584218e+09,24.0,9.60,-5.20,83.97,1.10
461,stratford,1.0,US,1.584218e+09,28.0,41.18,-73.13,55.99,14.99
505,taloqan,0.0,AF,1.584218e+09,38.0,36.74,69.53,42.75,4.99
553,bilma,0.0,NE,1.584218e+09,16.0,18.69,12.92,66.69,6.73
560,taiyuan,0.0,CN,1.584218e+09,42.0,37.87,112.56,30.20,4.47
593,trelew,0.0,AR,1.584218e+09,30.0,-43.25,-65.31,67.05,7.78

In [5]:
hotel_df = pd.DataFrame(ideal_locations)

# Add column for hotel names
hotel_df['Hotel Name'] = ""

hotel_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
18,manyana,0.0,BW,1.584217e+09,49.0,-23.40,21.72,73.17,7.47,
26,awbari,0.0,LY,1.584217e+09,18.0,26.59,12.78,64.35,9.31,
139,arlit,0.0,NE,1.584217e+09,12.0,18.74,7.39,74.43,7.83,
187,aswan,0.0,EG,1.584217e+09,17.0,24.09,32.91,75.20,13.87,
208,valparaiso,0.0,CL,1.584217e+09,39.0,-33.04,-71.63,78.80,12.75,

In [6]:
# find the closest hotel of each type to coordinates

params = {
    "type": "lodging",
    "key": g_key,
    "radius": 5000
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # pull lat and lng
    lat = row['Lat']
    lng = row['Lng']

    # update address key value
    params['location'] = f'{lat},{lng}'
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    city = row['City']
    print(f"Finding hotel in {city}")

    # assemble url and make API request
    response = requests.get(base_url, params=params)
    json_response = response.json()

    try:
        
        hotel_df.loc[index, 'Hotel Name'] = json_response['results'][0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Finding hotel in manyana
Missing field/result... skipping.
Finding hotel in awbari
Finding hotel in arlit
Finding hotel in aswan
Finding hotel in valparaiso
Finding hotel in san carlos de bariloche
Finding hotel in port hardy
Finding hotel in atar
Finding hotel in brewster
Finding hotel in bethel
Finding hotel in hovd
Finding hotel in paoua
Finding hotel in yulara
Finding hotel in new london
Finding hotel in maine-soroa
Missing field/result... skipping.
Finding hotel in moussoro
Finding hotel in comodoro rivadavia
Finding hotel in providencia
Missing field/result... skipping.
Finding hotel in massakory
Missing field/result... skipping.
Finding hotel in adrar
Missing field/result... skipping.
Finding hotel in ferkessedougou
Finding hotel in stratford
Finding hotel in taloqan
Finding hotel in bilma
Finding hotel in taiyuan
Finding hotel in trelew

In [9]:
# drop cities without hotels/hotel names
hotel_df = hotel_df.replace(r'^\s*$', np.nan, regex=True)
hotel_df = hotel_df.dropna()
hotel_df.head(30)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
26,awbari,0.0,LY,1.584217e+09,18.0,26.59,12.78,64.35,9.31,فندق أوباري
139,arlit,0.0,NE,1.584217e+09,12.0,18.74,7.39,74.43,7.83,Hôtel Telwa Bungalow
187,aswan,0.0,EG,1.584217e+09,17.0,24.09,32.91,75.20,13.87,Nuba Nile
208,valparaiso,0.0,CL,1.584217e+09,39.0,-33.04,-71.63,78.80,12.75,Hotel Ultramar
226,san carlos de bariloche,0.0,AR,1.584217e+09,25.0,-41.15,-71.31,66.20,9.17,Hotel Patagonia
236,port hardy,5.0,CA,1.584217e+09,34.0,50.70,-127.42,35.60,18.34,Airport Inn
247,atar,0.0,MR,1.584217e+09,10.0,20.52,-13.05,71.55,5.32,Oumou Elghoura
286,brewster,1.0,US,1.584217e+09,34.0,41.40,-73.62,55.40,10.29,Heidi's Inn
297,bethel,1.0,US,1.584217e+09,34.0,41.37,-73.41,55.40,10.29,Courtyard by Marriott Danbury
308,hovd,0.0,MN,1.584217e+09,41.0,48.01,91.64,20.07,7.74,Hotel Khovd
328,paoua,9.0,CF,1.584218e+09,15.0,7.24,16.44,72.63,3.11,Quartier Paoua Elien
330,yulara,0.0,AU,1.584218e+09,29.0,-25.24,130.99,77.00,13.87,Desert Gardens Hotel - Ayers Rock Resort
335,new london,1.0,US,1.584217e+09,27.0,41.36,-72.10,54.00,13.87,Red Roof Inn Mystic - New London
364,moussoro,0.0,TD,1.584218e+09,11.0,13.64,16.49,71.01,12.91,Pharmacie alnadja Moussoro
389,comodoro rivadavia,0.0,AR,1.584217e+09,40.0,-45.87,-67.50,68.00,12.75,Austral Hotel
437,ferkessedougou,2.0,CI,1.584218e+09,24.0,9.60,-5.20,83.97,1.10,Hotel Chateau
461,stratford,1.0,US,1.584218e+09,28.0,41.18,-73.13,55.99,14.99,Holiday Inn Bridgeport-Trumbull-Fairfield
505,taloqan,0.0,AF,1.584218e+09,38.0,36.74,69.53,42.75,4.99,Saraisang street
553,bilma,0.0,NE,1.584218e+09,16.0,18.69,12.92,66.69,6.73,Expeditions Ténére voyages
560,taiyuan,0.0,CN,1.584218e+09,42.0,37.87,112.56,30.20,4.47,Taiyuan Wanda Wenhua Hotel
593,trelew,0.0,AR,1.584218e+09,30.0,-43.25,-65.31,67.05,7.78,Hotel Touring Club

In [8]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map - in this 
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))